<html>

<body>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../javascripts/moment.js"></script>
    <script type="text/javascript" src="../javascripts/moment-timezone-with-data.js"></script>

    <div class="navbar">
        <a class="active" href="homePage">Home</a>
        <% if(!isLoggedIn) { %>
        <a id="login" href="login">Log In</a>
        <% } %>
        <% if(isLoggedIn){ %>
        <a id="logout" href="logout">Log Out</a>
        <% } %>
        <% if(!isLoggedIn){ %>
        <a id="signup" href="registration">Sign Up</a>
        <% } %>
        <% if(isLoggedIn){ %>
        <a id="postimg" href="postImage">Post Image</a>
        <% } %>
    </div>

    <form action="/homePage" class="search" method="POST"
        style="margin:auto;max-width:300px; padding-left: 4px; margin-bottom: -82px;" autocomplete="off"
        onsubmit="return validateSearch()">
        <input type="text" placeholder="Search..." name="searchbar" id="searchtext">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <!--image-->
    <div class="imgContainer">

        <% var detail = data[0].photopath %>
        <div class="detailsImg" ><a href="<%= "https://i.squarestory.net/" + detail %>" target="_blank"><img src="<%= 'https://i.squarestory.net/' + data[0].photopath %>"
                                         style="max-width: 50%" alt="" ></a>
        </div>

        <!--title-->
        <%var title = "" + data[0].title%>
        <div id="ititle">
            <p class="imgDescription" id="imgInfo">
                <%if(data[0].posttime){%>
                <% var imageDate = new Date(data[0].posttime)%>
                <% JSON.stringify(imageDate)%>
                <script>
                    var imageDate = <%-JSON.stringify(new Date(data[0].posttime))%>;
                    var testdate = moment.tz(imageDate, moment.tz.guess());
                    document.getElementById("imgInfo").innerHTML = (testdate.format("MM/DD/YY HH:mm"))
                </script>
                <%}%>
            </p>

            <p class="imgTitle">
                <%= title %>
            </p>
        </div>

        <!--description-->
        <%var description = "" + data[0].description%>
        <div id="idesc">
            <p class="imgDescription">
                <%= description %>
            </p>

        </div>

        <%const admins = [];
        for(var l = 0; l < users.length; l++)
        {
            admins.push(users[l].id);
        }

        %>
        <%if(isLoggedIn && ((user_id === data[0].fk_userid) || admins.includes(user_id))){%>
        <div>
            <p class="imgDescription">
                <form id="edit" method="post" name="editpost2" onsubmit="return editpost()">
                    <input class="input-field" autocomplete="off"
                        style="display: none; max-width: 400px; margin-left: auto; margin-right: auto; outline: 2px solid #5e7379; "
                        type="text" id="ptitle" value="<%= title%>" name="title" />
                    <textarea class="input-field"
                        style="display: none; font-family: sans-serif; max-width: 400px; margin-left: auto; margin-right: auto; outline: 2px solid #5e7379; "
                        type="text" id="pdesc" name="description"><%= description%></textarea>
                    <input class="button"
                        style="max-width: 90px; max-height: 30px; margin-left: auto; margin-right: auto;"
                        id="submitbutton" type="submit" value="Edit Post">
                    <input class="button"
                        style="max-width: 90px; max-height: 30px; margin-left: auto; margin-right: auto; display:none"
                        id="cancelbutton" type="submit" value="Cancel" onclick="return cancelEdit()">
                </form>

            <form action="/deletePost<%=data[0].id%>" id="delete" method="post" name="deletepost" onclick="return deletePost()">
                <input class="button"
                       style="max-width: 90px; max-height: 30px; margin-left: auto; margin-right: auto;"
                       id="submitbutton" type="submit" value="Delete">
            </form>
            </p>
        </div>
        <%}%>

    <%if(isLoggedIn){%>
        <form method="POST" name="postComment" onsubmit="return validateComment()">
            <fieldset class="comments-form">
                <textarea class="input-field" id="comments"
                    style="font-family: sans-serif; max-width: 400px; margin-left: auto; margin-right: auto;"
                    placeholder="Enter Comment" name="comment"></textarea>
                <input class="button" style="max-width: 300px; margin-left: auto; margin-right: auto; display: block" type="submit"
                    value="Submit">
            </fieldset>
        </form>
        <%}%>


    <div class="commentContainer">
        <%if(typeof cmnts == 'object' && cmnts.length) { %>

            <p id="commentPoster">

            </p>

            <p id="commentInfo">
            </p>

            <script>
                <%var it = 0;%>
                var len = <%- JSON.stringify(cmnts.length)%>
                <%it = JSON.stringify(cmnts.length)%>
                <%for(var i = it - 1 ; i >= 0; i--) { %>
                    var commentDate = <%- JSON.stringify(new Date(cmnts[i].posttime)) %>;
                    var commenter = <%- JSON.stringify(cmnts[i].poster) %>
                    var comment = <%- JSON.stringify(cmnts[i].comment)%>
                    var testcommentdate = moment.tz(commentDate, moment.tz.guess());

                    var posterName = document.createElement('poster' + <%=i%>)
                    posterName.id = "poster" + <%=i%>;
                    posterName.className = 'comment-poster'
                    console.log(posterName.id)
                    posterName.innerHTML = '<div>' + commenter + " - " + '<div style="display:inline-block; font-size: 15px; font-weight: normal">' + testcommentdate.format("MM/DD/YY HH:mm") + '</div>' + '<br> </div>'

                    var commentInfo = document.createElement('comment' + <%=i%>)
                    commentInfo.id = "comment" + <%=i%>;
                    commentInfo.className = 'comment';

                    console.log(commentInfo.id)
                    commentInfo.innerHTML = '<p class="comment">' + comment + '<br> </p>'

                    document.getElementById("commentPoster").appendChild(posterName)
                    document.getElementById("commentPoster").appendChild(commentInfo)
                <%}%>
            </script>


        <%}%>
    </div>

    </div>

    <script type="text/javascript" src="../javascripts/formValidation.js"></script>
    <script type="text/javascript" src="../javascripts/editPost.js"></script>
    <script type="text/javascript" src="../javascripts/deletePost.js"></script>

</body>

</html>