<html>
<body>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <a class="active" href="homePage">Home</a>
    <% if(!isLoggedIn) { %>
        <a id="login" href="login">Log In</a>
    <% } %>
    <% if(isLoggedIn){ %>
        <a id="logout" href="logout">Log Out</a>
    <% } %>
    <% if(!isLoggedIn){ %>
        <a id="signup" href="registration">Sign Up</a>
    <% } %>
    <% if(isLoggedIn){ %>
        <a id="postimg" href="postImage">Post Image</a>
    <% } %>
</div>

<!--image-->
<div class="imgContainer" >

    <div class="detailsImg"><img src="<%= process.env.AWS_BUCKET_GETBUCKET_PUBLIC_NAME + "/" + data[0].photopath %>" style="max-width: 50%" alt="">
    </div>

    <!--title-->
    <%var title = "" + data[0].title%>
    <div id="ititle">
        <p class="imgTitle">
             <%= title %>
        </p>
    </div>

    <!--description-->
    <%var description = "" + data[0].description%>
    <div >
        <p class="imgDescription">
            <%= description %>
        </p>
    </div>

    <%if(isLoggedIn && (user_id === data[0].fk_userid)){%>
    <div>
        <p class="imgDescription">
            <form id="edit" method="post" name="editpost2" onsubmit="return editpost()">
                <input class="input-field" style="display: none; max-width: 400px; margin-left: auto; margin-right: auto; outline: 2px solid #5e7379; "
                   type="text" id="ptitle" value="<%= title%>" name="title"/>
                <input id="submitbutton" type="submit" value="Edit Post">
                <input id="cancelbutton" type="submit" value="Cancel" style="display:none" onclick="return cancelEdit()">
            </form>

        </p>
    </div>
        <%}%>

    <%if(isLoggedIn){%>
    <form method="POST" name="postComment" onsubmit="return validateComment()">
        <fieldset class="comments-form">
            <label for="ptitle">Comment</label>
            <textarea class="input-field" id="comments" placeholder="Enter Comment" name="comment"></textarea>

            <input class="button" type="submit" value="Submit">
        </fieldset>
    </form>
    <%}%>


    <div class="commentContainer">
        <%if(typeof cmnts == 'object' && cmnts.length) {
            for(var i = cmnts.length - 1; i >= 0; i--) { %>
                <%var comment = "" + cmnts[i].comment%>
                <%var user = "" + cmnts[i].poster%>

                <p class="comment-poster">
                    <%= user %>
                </p>
                <p class="comment">
                    <%= comment %>
                </p>
        <%}}%>
    </div>

</div>

<script type="text/javascript" src="../javascripts/formValidation.js"></script>
<script type="text/javascript" src="../javascripts/editPost.js"></script>
</body>
</html>